<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>master-diplom.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="дипломы, курсовые, рефераты, контрольные работы">
    <meta name="author" content="">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="//master-diplom.com/static/css/md.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% block head_extra %}
    {% endblock %}

</head>
<body data-spy="scroll" data-target=".md-sidebar">


<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="brand" href="/">master-diplom.com</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                    {% if user.is_anonymous %}
                        <li><a href="/accounts/login/" class="navbar-link">зайти в личный кабинет</a></li>
                        <!--<li><a href="/accounts/register/" class="navbar-link">регистрация</a></li>-->
                    {% else %}
                        <li><a href="/account/" class="navbar-link">личный кабинет</a></li>
                        <li><a href="/accounts/logout/" class="navbar-link">выйти</a></li>
                    {% endif %}
             </ul>
             <ul class="nav">
                    <li class=""><a href="/" class="navbar-link">на главную</a></li>
             </ul>
		</div>
        </div>
      </div>
    </div>

{% block header %}
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
		<p class="pull-right">help@master-diplom.com</p>
		<h1>Мастер диплом</h1>

	
    <p class="lead">Дипломы, курсовые, рефераты на заказ. <a href="/create_order/" class="btn btn-large">Заказать</a></p>

  </div>
</header>
{% endblock %}

{% block top_menu %}
{% endblock %}
<h1></h1>
<div class="container">

	<div class="row">
        <div class="span3 md-sidebar">
            <!--Sidebar content-->

                <ul class="nav nav-list md-sidenav">
                    <li><a href="/"><i class="icon-chevron-right"></i> главная</a></li>
                    <li><a href="/about/"><i class="icon-chevron-right"></i> о нас</a></li>
                    <li><a href="/create_order/"><i class="icon-chevron-right"></i> форма заказа</a></li>
		      <li><a href="/payment_methods/"><i class="icon-chevron-right"></i> способы оплаты</a></li>
		      <li><a href="/faq/"><i class="icon-chevron-right"></i> F.A.Q.</a></li>
		      <li><a href="/contacts/"><i class="icon-chevron-right"></i> контакты</a></li>
		      <li><a href="/help/"><i class="icon-chevron-right"></i> help</a></li>
		      <li><a href="/defense/"><i class="icon-chevron-right"></i> рекомендации по защите</a></li>
		      <li><a href="/warranty/"><i class="icon-chevron-right"></i> гарантии</a></li>
		      <li><a href="/prices/"><i class="icon-chevron-right"></i> цены</a></li>
		      <li><a href="/activities/"><i class="icon-chevron-right"></i> акции, бонусы, скидки</a></li>
		      <li><a href="/samples/"><i class="icon-chevron-right"></i> примеры работ</a></li>
		      <li><a href="/comments/"><i class="icon-chevron-right"></i> отзывы</a></li>
                </ul>

        </div><!--/.span3 -->
        <div class="span9">
            {% block content %}
            {% endblock %}
            {% block main %}
            {% endblock %}
        </div>
	</div>

</div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
	<div><p class="pull-right">Служба поддержки <a href="mailto:help@master-diplom.com">help@master-diplom.com</a></p></div>
	
      </div>
	<div class="container"><p class="pull-right">2013</p></div>
    </footer>


    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
