<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
{% block top_menu %}
    <div class="container">
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">master-diplom.com</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if user.is_anonymous %}
                        <li><a href="/accounts/login/" class="navbar-link">зайти в личный кабинет</a></li>
                        <li><a href="/accounts/register/" class="navbar-link">регистрация</a></li>
                    {% else %}
                        <li><a href="/account/" class="navbar-link">личный кабинет</a></li>
                        <li><a href="/accounts/logout/" class="navbar-link">выйти</a></li>
                    {% endif %}
                </ul>
                <ul class="nav">
                    <li class="active"><a href="/" class="navbar-link">на главную</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
    </div> <!--/.container-->
{% endblock %}

<div class="container">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Заказы</li>
                    <li class="active"><a href="/">главная</a></li>
                    <li><a href="/about/">о нас</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="/create_order/">форма заказа</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/.span2 -->
        <div class="span10">
            {% block content %}
            {% endblock %}
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</body>
</html>