{% extends 'base.html' %}
{% block head_extra %}
    <link href="//master-diplom.com/static/css/bootstrap-rowlink.min.css" rel="stylesheet">
    <script src="//master-diplom.com/static/js/bootstrap-rowlink.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    })
</script>
{% endblock %}
{% block content %}
    <h3>Информация о заказчике</h3>
    <p>email: {{ user.email }}</p>
    {% with user.profiles.all.0 as profile %}
        <p>имя и фамилия: {{ profile.name }}</p>
        <p>телефон: {{ profile.phone }}</p>
    {% endwith %}

    <div>
        <p><b>Заказы:</b></p>
    <table class='table' data-provides="rowlink">
        <caption>...</caption>
        <thead>
            <tr>
              <th>дата создания</th>
              <th>тема работы</th>
              <th>статус</th>
            </tr>
        </thead>
    <tbody>
    {% for order in user.orders.all reversed %}
    <tr>
            <td><a href="/account/order/{{ order.id }}/">{{ order.created }}</a></td>
            <td>{{ order.order_data.theme }}</td>
            <td>{{ order.get_status_display }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

{% endblock %}