{% extends 'base.html' %}
{% block header %}
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
	<p class="pull-right">help@master-diplom.com</p>
    <h1>Мастер диплом</h1>
    <p class="lead">Дипломы, курсовые, рефераты на заказ.</p>

  </div>
</header>
{% endblock %}
{% block content %}
    {% if authenticated %}
        <p>email: {{ user.email }}</p>
        <p>имя: {{ profile.name }}</p>
        <p>телефон:{{ profile.phone }}</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="email"><strong>{{ form.email.label }}:</strong></label>
            {{ form.email }}
        </div>
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="name"><strong>{{ form.name.label }}:</strong></label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.phone.errors }}
            <label for="phone"><strong>{{ form.phone.label }}</strong>:</label>
            {{ form.phone }}
        </div>
        <div class="fieldWrapper">
            {{ form.icq.errors }}
            <label for="icq">{{ form.icq.label }}:</label>
            {{ form.icq }}
        </div>
        <div class="fieldWrapper">
            {{ form.town.errors }}
            <label for="town">{{ form.town.label }}:</label>
            {{ form.town }}
        </div>
        <div class="fieldWrapper">
            {{ form.institute.errors }}
            <label for="institute">{{ form.institute.label }}:</label>
            {{ form.institute }}
        </div>
        <div class="fieldWrapper">
            {{ form.time_to_call.errors }}
            <label for="time_to_call">{{ form.time_to_call.label }}:</label>
            {{ form.time_to_call }}
        </div>

        <input type="submit" value="Создать заказ" class="btn btn-primary">
    </form>

    {% if login_form %}
        <a href="/accounts/login/?next=get_contact_info">log in</a>
    {% endif %}
{% endblock %}