{% extends 'base.html' %}
{% block head_extra %}
    <link href="//master-diplom.com/static/css/datepicker.css" rel="stylesheet">
    <script type="text/javascript">
    $(document).ready(function(){
        $('#id_deadline').val({{ date }})
    })
    </script>
{% endblock %}
{% block header %}
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
	<p class="pull-right">help@master-diplom.com</p>
    <h1>Мастер диплом</h1>
    <p class="lead">Дипломы, курсовые, рефераты на заказ.</p>

  </div>
</header>
{% endblock %}


{% block content %}
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Продолжить">
    </form>

    <!--  javascript
     ============================ -->
    <script src="js/bootstrap-datepicker.js"></script>
	<script>
		$(function(){
			$('#id_deadline').datepicker({
				format: 'yyyy-mm-dd'
			});
        });
    </script> <!-- end of javascript -->
{% endblock %}