{% extends 'base.html' %}

{% block content %}
    <div>
        <p>{{ object.status }}</p>
        <p>{{ object.order_data.theme }}</p>
        <p>{{ object.order_data.content }}</p>
        <p>{{ object.order_data.discipline }}</p>
        <p>{{ object.user }}</p>
    </div>
    <p>{{ object }}</p>
    <div>
        {% if object.status == '2' %}
            <form action="{{ payment_form.target }}" method="POST">
                <p>{{ payment_form.as_p }}</p>
                <p><input type="submit" value="Оплатить"></p>
            </form>
        {% endif %}
    </div>
{% endblock %}