{% extends 'base.html' %}

{% block content %}
    <div>
        <p>статус заказа: {{ object.status }}</p>
        <p>тема работы: {{ object.order_data.theme }}</p>
        <p>содержание: {{ object.order_data.content }}</p>
        <p>вид работы: {{ object.order_data.discipline }}</p>
        <p>крайний срок: {{ object.order_data.deadline }}</p>
        <p>заказчик: {{ object.user }}</p>
    </div>

    <div>
        {% if object.status == '2' %}
            <form action="{{ payment_form.target }}" method="POST">
                <p>{{ payment_form.as_p }}</p>
                <p><input type="submit" value="Оплатить"></p>
            </form>
        {% endif %}
    </div>
{% endblock %}